<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .content  {
            margin: 0;
            position: absolute;               
            top: 30%;                         
            transform: translate(0, -50%);
            left: 40%;
            margin-right:-50%;
        }   
    </style>
</head>
<body>
    <div class = "content">    
        <table>
            <tr>
                <td><button id = "vocab-redirect" onclick="location.href='/vocab';">単語の練習</button></td>
                <td><button id = "sentence-translate" onclick="location.href='/trans';">文章を翻訳する</button></td>
            </tr>
        </table>
    </div>
</body>
</html>