<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .content  {
            margin: 0;
            position: absolute;               
            top: 30%;                         
            transform: translate(0, -50%);
            left: 40%;
            margin-right:-50%;
        }   
    </style>
</head>
<body>
    <div class = "content">
        <form action="/signup" method = "post">
            <input type="email" name = "email" placeholder = "Enter your Email Address"><br>
            <input type="password" name = "password" placeholder = "Enter a Password"><br>
            <input type="password" name = "password2" placeholder = "Confirm your Password"><br>
            <input type="submit">
        </form>
    </div>
</body>
</html>